{{> header}}
<div class="container-fluid bg-primary py-5 bg-header-detail" style="margin-bottom: 20px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center">
            <h1 class="display-4 text-white animated zoomIn">Tra cứu giấy chứng nhận</h1>
            <a href="/" class="h5 text-white">Trang chủ</a>
            <i class="far fa-circle text-white px-2"></i>
            <a class="h5 text-white">Tra cứu giẩy chứng nhận</a>
        </div>
    </div>
</div>
<div class="featured-product" style="background-color: rgb(255, 255, 255)">
    <div class="container">

        <div class="section-main ">
            <form action="/tra-cuu-giay-chung-nhan" method="GET">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-md-6">
                        <h3 class="mt-4 mb-3">Nhập mã giấy chứng nhận</h3>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Code..." name="code"
                                aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Tra cứu</button>
                        </div>
                    </div>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>
<div class="recent-product">
    <div class="container">
        {{#if tracuu}}
        <section class="section dashboard">
            <div class="card">
                <div class="card-body">
                    <h3 class="mt-4 mb-3 center">Kết quả tra cứu</h3>
                    <embed src="/{{tracuu.filepdf}}" width="100%" height="600px" />
                    {{!-- <div class="col-md-3">
                        <p><strong>Công ty: </strong>{{tracuu.company}}</p>
                        <p><strong>Địa chỉ:</strong> {{tracuu.address}}</p>
                        <p><strong>Số điện thoại:</strong> {{tracuu.phone}}</p>
                        <p><strong>Người đại diện:</strong> {{tracuu.customer}}</p>
                        <p><strong>Trạng thái:</strong> {{tracuu.status}}</p>
                    </div> --}}
                </div>
            </div>
        </section>
        {{/if}}
        {{#unless tracuu}}
        <div class="row ">
            <div class="col-6 ">
                <br>
                <br>
                <h4><strong>Không tìm thấy!</strong></h4>
                <p>Chúng tôi không tìm thấy chứng chỉ phù hợp với yêu cầu của bạn. Vui lòng nhập
                    từ khóa khác.</p>
            </div>
            <div class="col-6 center"><img src="/img/not-found.png" style="max-height: 200px;float:right"></div>
        </div>
        {{/unless}}

    </div>
</div>


{{> footer}}