{{> headerAdmin}}
{{> sidebar}}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Chỉnh sửa giấy chứng nhận</h1>
    </div><!-- End Page Title -->
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <!-- Recent Activity -->
                <div class="card ">
                    <div class="card-body ">
                        <h5 class="card-title" id="currentYear"> </h5>
                        {{#each tracuu}}
                        <div class="add-event-form">
                            <div class="modal-body">
                                <form action="/admin/tra-cuu-giay-chung-nhan/{{this._id}}?_method=PUT" method="POST"
                                    enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Mã giấy chứng
                                                    nhận:</label>
                                                <input type="text" class="form-control" id="madangky" name="madangky"
                                                    value="{{this.madangky}}">
                                            </div>
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Tên công
                                                    ty:</label>
                                                <input type="text" class="form-control" id="congty" name="congty"
                                                    value="{{this.congty}}">
                                            </div>
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Người đại
                                                    diện:</label>
                                                <input type="text" class="form-control" id="nguoidaidien"
                                                    name="nguoidaidien" value="{{this.nguoidaidien}}">
                                            </div>
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Chọn file
                                                    pdf:</label>
                                                <input type="file" class="form-control-file border" id="filepdf"
                                                    name="filepdf">
                                                <input type="text" name="urlFile" id="urlFile"
                                                    value="{{this.filepdf}}" style="display:none">
                                            </div>
                                            <embed id="loadFile" src="/{{this.filepdf}}" width="200px"
                                                height="300px" />
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Địa chỉ:</label>
                                                <input type="text" class="form-control" id="diachi" name="diachi"
                                                    value="{{this.diachi}}">
                                            </div>
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Số điện
                                                    thoại:</label>
                                                <input type="number" class="form-control" id="sdt" name="sdt"
                                                    value="{{this.sdt}}">
                                            </div>
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Ngày gia hạn
                                                </label>
                                                <input type="date" class="form-control" id="ngaygiahan"
                                                    name="ngaygiahan" value="{{this.ngaygiahan}}">
                                            </div>
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Ngày bắt
                                                    đầu:</label>
                                                <input type="date" class="form-control" id="ngaybatdau"
                                                    name="ngaybatdau" value="{{this.ngaybatdau}}">
                                            </div>
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Ngày kết
                                                    thúc:</label>
                                                <input type="date" class="form-control" id="ngayketthuc"
                                                    name="ngayketthuc" value="{{this.ngayketthuc}}">
                                            </div>
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Trạng
                                                    thái:</label><br>
                                                <select class="form-select" style="width: 100% !important;"
                                                    name="trangthai" id="trangthai" show-value="{{this.trangthai}}"
                                                    aria-label="Default select example">
                                                    <option value="Đang còn hiệu lực">Đang còn hiệu lực</option>
                                                    <option value="Hết hiệu lực">Hết hiệu lực</option>
                                                    <option value="Tạm dừng hiệu lực">Tạm dừng hiệu lực</option>
                                                </select>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-primary" type="submit">Chỉnh sửa</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{{> footerAdmin}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    var input = document.getElementById('filepdf')
    var imagePreview = document.getElementById('loadFile')

    var trangthai = document.getElementById('trangthai')
    var getAttrThangThai = trangthai.getAttribute('show-value')

    input.addEventListener("change", () => {
        imagePreview.src = URL.createObjectURL(input.files[0])
    })

    function showSelected(showElement, value) {
        valueFromDatabase = value
        // Lấy tham chiếu đến element select
        var selectElement = showElement

        // Duyệt qua từng option trong select
        for (var i = 0; i < selectElement.options.length; i++) {
            // So sánh giá trị của option với giá trị từ database
            if (selectElement.options[i].value === valueFromDatabase) {
                // Đặt thuộc tính selected cho option tương ứng
                selectElement.options[i].selected = true;
                break; // Dừng vòng lặp nếu đã tìm thấy giá trị
            }
        }
    }
    showSelected(trangthai, getAttrThangThai)
</script>