<link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css">
{{> headerAdmin}}
{{> sidebar}}
<main id="main" class="main">
    <section class="section dashboard">
        <div class="card">
            <div class="card-body" style="overflow-x: auto">
                <div class="pagetitle">
                    <br>
                    <h1>Tra cứu giấy chứng nhận</h1><br>
                    <div class="row">
                        <div class="col-2">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#exampleModal" data-bs-whatever="@mdo">Thêm Mới</button>
                        </div>
                        <div class="col-10">
                            <form action="/admin/tra-cuu-giay-chung-nhan" method="GET">
                                <div class="input-group mb-3">
                                    <input type="text" id="nameSearch" class="form-control"
                                        placeholder="Nhập tên công ty..." name="name" value="{{search}}">
                                    <button class="btn  " type="submit"><i class="bi bi-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <section class="section dashboard">
                    <table class="table table-bordered " style="text-align: center;">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Code</th>
                                <th scope="col">Công ty</th>
                                <th scope="col">Người đại diện</th>
                                <th scope="col">Địa chỉ</th>
                                <th scope="col">SĐT</th>
                                <th scope="col">Ngày bắt đầu</th>
                                <th scope="col">Ngày kết thúc</th>
                                <th scope="col">Ngày gia hạn</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">File</th>
                                <th colspan="2">Hành động</th>
                            </tr>
                        </thead>
                        <tbody style="font-size: 12px;">
                            {{#each tracuu}}
                            <tr>
                                <th scope="row">{{sum @index 1}}</th>
                                <td>{{this.code}}</td>
                                <td>{{this.company}}</td>
                                <td>{{this.customer}}</td>
                                <td>{{this.address}}</td>
                                <td>{{this.phone}}</td>
                                <td>{{this.dateStart}}</td>
                                <td>{{this.dateEnd}}</td>
                                <td>{{this.dateExtend}}</td>
                                <td>{{this.nameStatus}}</td>
                                <td>
                                    <a href="/tra-cuu-giay-chung-nhan?code={{this.code}}"
                                        style="color: rgb(26, 145, 248);"><i class="bi bi-eye-fill"></i></a>
                                </td>
                                <td> <i class="bi bi-pencil" style="color: rgb(7, 255, 56);" data-bs-toggle="modal"
                                        data-bs-target="#edit-work-modal{{this._id}}" onclick="getId({{this._id}})"></i>
                                </td>
                                <td> <a> <i class="bi bi-trash-fill" data-bs-toggle="modal"
                                            data-bs-target="#delete-work-modal" data-id="{{this._id}}"
                                            style="color: red;"></i></a>
                                </td>
                            </tr>
                            <div class="modal fade" id="edit-work-modal{{this._id}}" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa giấy chứng nhận
                                            </h5>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/admin/tra-cuu-giay-chung-nhan/{{this._id}}/edit?_method=PUT"
                                                method="POST" enctype="multipart/form-data">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <label for="recipient-name"
                                                                        class="col-form-label">Mã giấy chứng
                                                                        nhận <span style="color: red;">*</span></label>
                                                                    <input type="text" class="form-control" id="code"
                                                                        name="code" value="{{this.code}}">
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <label for="recipient-name"
                                                                        class="col-form-label">Tên công
                                                                        ty<span style="color: red;">*</span></label>
                                                                    <input type="text" class="form-control" id="company"
                                                                        name="company" value="{{this.company}}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <label for="recipient-name"
                                                                        class="col-form-label">Người đại
                                                                        diện<span style="color: red;">*</span></label>
                                                                    <input type="text" class="form-control"
                                                                        id="customer" name="customer"
                                                                        value="{{this.customer}}">
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <label for="recipient-name"
                                                                        class="col-form-label">Click chọn file
                                                                        pdf<span style="color: red;">*</span></label>
                                                                    <input type="file" class="form-control-file border"
                                                                        id="filepdf{{this._id}}" name="filepdf"
                                                                        accept=".pdf" hidden>
                                                                    <img id="image{{this._id}}" src="/img/file.jpg"
                                                                        style="width:100px">
                                                                    <input type="text" name="urlFile"
                                                                        value="{{this.filepdf}}" style="display:none">
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="recipient-name" class="col-form-label">Địa
                                                                chỉ<span style="color: red;">*</span></label>
                                                            <input type="text" class="form-control" id="address"
                                                                name="address" value="{{this.address}}" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="recipient-name" class="col-form-label">Số điện
                                                                thoại<span style="color: red;">*</span></label>
                                                            <input type="text" class="form-control" id="phone"
                                                                name="phone" value="{{this.phone}}" required>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <label for="recipient-name"
                                                                        class="col-form-label">Ngày bắt
                                                                        đầu<span style="color: red;">*</span></label>
                                                                    <input type="date" class="form-control"
                                                                        id="dateStart" name="dateStart"
                                                                        value="{{this.dateStart}}" required>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <label for="recipient-name"
                                                                        class="col-form-label">Ngày kết
                                                                        thúc<span style="color: red;">*</span></label>
                                                                    <input type="date" class="form-control" id="dateEnd"
                                                                        name="dateEnd" value="{{this.dateEnd}}"
                                                                        required>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <label for="recipient-name"
                                                                        class="col-form-label">Trạng
                                                                        thái<span
                                                                            style="color: red;">*</span></label><br>
                                                                    <select class="form-select"
                                                                        style="width: 100% !important;" name="statusId"
                                                                        id="statusId"
                                                                        aria-label="Default select example">
                                                                        {{#each ../statuses }}
                                                                        <option value="{{this._id}}" {{#ifCond this._id
                                                                            this.statusId}} selected {{/ifCond}}>
                                                                            {{this.nameStatus}}
                                                                        </option>
                                                                        {{/each}}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <label for="recipient-name"
                                                                        class="col-form-label">Ngày gia
                                                                        hạn<span style="color: red;">*</span>
                                                                    </label>
                                                                    <input type="date" class="form-control"
                                                                        id="ngaygiahan" name="ngaygiahan"
                                                                        value="{{this.ngaygiahan}}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <embed id="loadFile{{this._id}}" src="/{{this.filepdf}}"
                                                            width="100%" height="100%" />
                                                    </div>
                                                </div>
                                                <div class="modal-footer mt-4">
                                                    <button class="btn btn-primary" type="submit">Chỉnh sửa</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{else}}
                            <tr>
                                <td colspan="9" class="text-center">
                                    Dữ liệu chưa được thêm vào!
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </section>
                <div class="center">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            {{#if pagination.prev}}
                            <li class="page-item">
                                <a class="page-link" onclick="changePage({{this.prev}})" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {{/if}}
                            {{#each pagination.pages}}
                            <li class="page-item {{#if this.active}}active{{/if}}">
                                <a class="page-link" onclick="changePage({{this.number}})">{{this.number}}</a>
                            </li>
                            {{/each}}
                            {{#if pagination.next}}
                            <li class="page-item">
                                <a class="page-link" onclick="changePage({{this.next}})" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {{/if}}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
</main>
{{> footerAdmin}}

{{!-- modal thêm --}}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm giấy chứng nhận</h5>
            </div>
            <div class="modal-body">
                <form action="/admin/tra-cuu-giay-chung-nhan/creat" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Mã giấy chứng nhận<span
                                        style="color: red;">*</span></label>
                                <input type="text" class="form-control" id="code" name="code" required>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Click chọn file pdf<span
                                        style="color: red;">*</span></label>
                                <img id="image" src="/img/file.jpg" style="width:100px">
                                <label id="namefile" style="color:blue"></label>
                                <input type="file" id="filepdf" class="form-control-file border" name="filepdf"
                                    accept=".pdf" required hidden>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Tên công ty<span
                                        style="color: red;">*</span></label>
                                <input type="text" class="form-control" id="company" name="company" required>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Người đại diện<span
                                        style="color: red;">*</span></label>
                                <input type="text" class="form-control" id="customer" name="customer" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Địa chỉ<span
                                        style="color: red;">*</span></label>
                                <input type="text" class="form-control" id="address" name="address" required>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Số điện thoại<span
                                        style="color: red;">*</span></label>
                                <input type="text" class="form-control" id="phone" name="phone" required>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Ngày bắt đầu<span
                                        style="color: red;">*</span></label>
                                <input type="date" class="form-control" id="dateStart" name="dateStart" required>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Ngày kết thúc<span
                                        style="color: red;">*</span></label>
                                <input type="date" class="form-control" id="dateEnd" name="dateEnd" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Thêm mới</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{{!-- modal xóa --}}
<div id="delete-work-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa giấy chứng nhận</h5>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa giấy chứng nhận này không ?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete" type="button" class="btn btn-danger">Đồng ý xóa</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>

            </div>
        </div>
    </div>
</div>
{{!-- form delete --}}
<form name="delete-form" method="POST"></form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
    function changePage(page) {
        var search = document.getElementById('nameSearch').value
        window.location.href = `/admin/tra-cuu-giay-chung-nhan?page=${page}&name=${search}`;
    }
    function getId(id) {
        var input = document.getElementById(`filepdf${id}`)
        const image = document.getElementById(`image${id}`)
        var imagePreview = document.getElementById(`loadFile${id}`)
        image.addEventListener('click', function () {
            input.click();
        });
        input.addEventListener("change", () => {
            imagePreview.src = URL.createObjectURL(input.files[0])
        })
    }
    const namefile = document.getElementById('namefile')
    var img = document.getElementById('filepdf')
    var imagePreview = document.getElementById('image')
    // Khi click vào ảnh, chuyển sự kiện click đến trường nhập file
    imagePreview.addEventListener('click', function () {
        img.click();

    });
    // change ảnh khi chọn
    img.addEventListener('change', function () {
        if (img.files && img.files[0]) {
            const name = img.files[0].name
            namefile.textContent = name
        }
    });

    // delete 
    const exampleModal = document.getElementById('delete-work-modal')
    exampleModal.addEventListener('show.bs.modal', event => {
        var deleteForm = document.forms['delete-form']
        var btnDelete = document.getElementById('btn-delete')
        const button = event.relatedTarget
        //get id from button delete
        const recipient = button.getAttribute('data-id')
        btnDelete.onclick = function () {
            deleteForm.action = '/admin/tra-cuu-giay-chung-nhan/' + recipient + '?_method=DELETE'
            deleteForm.submit()
        }
    })
</script>