{{> header}}

<div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="w-100" src="/img/banner7.jpg" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 900px;">
                    <h5 class="text-white text-uppercase mb-3 animated slideInDown">Công ty chứng nhận chất lượng
                        DGB</h5>
                    <h1 class="display-1 text-white mb-md-4 animated zoomIn">Nông Sản Việt Nam
                    </h1>
                    <a href="/" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Trang chủ
                    </a>
                    <a  class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight" href="/lien-he">Liên hệ</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="w-100" src="/img/banner6.jpg" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 900px;">
                    <h5 class="text-white text-uppercase mb-3 animated slideInDown">Quản lý chất lượng sản phẩm tốt
                        nhất</h5>
                    <h1 class="display-1 text-white mb-md-4 animated zoomIn">Nâng tầm giá trị Việt
                    </h1>
                    <a href="/" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Trang chủ</a>
                    <a  class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight">Liên hệ</a>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- Main Slider Start -->

<!-- About Start -->
<div class="container-fluid mt-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container ">
        <div class="row g-5">
            <div class="col-lg-7">
                <div class="section-title position-relative pb-3 mb-5">
                    <h5 class="fw-bold text-primary text-uppercase">Tại Sao Nên Lựa Chọn Chúng Tôi ?</h5>
                    <h1 class="mb-0">Đội ngũ nhân viên với nhiều năm kinh nghiệm</h1>
                </div>
                <p class="mb-4">{{{gioithieutochuc.content}}}</p>

            </div>
            <div class="col-lg-5" style="min-height: 500px;">
                <div class="position-relative h-100 d-flex justify-content-center align-items-center">
                    <img class="position-absolute w-100   rounded wow zoomIn" data-wow-delay="0.9s"
                        src="/{{gioithieutochuc.image}}" style="object-fit: cover; ">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->




<!-- Service Start -->
<div class="container-fluid mt-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container ">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Quy Trình Đánh Giá</h5>
            <h1 class="mb-0">Hoạt động kiểm nghiệm</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-3 col-sm-4 wow zoomIn" data-wow-delay="0.3s">
                <div
                    class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fas fa-handshake text-white"></i>
                    </div>
                    <h4 class="mb-3">1.Tiếp Nhận</h4>
                    <p class="m-0">Tiếp nhận các yêu cầu thử nghiệm</p>
                    <a class="btn btn-lg btn-primary rounded" >
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 wow zoomIn" data-wow-delay="0.6s">
                <div
                    class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fas fa-users text-white"></i>
                    </div>
                    <h4 class="mb-3">2.Xem Xét</h4>
                    <p class="m-0">Xem xét các yêu cầu khách hàng</p>
                    <a class="btn btn-lg btn-primary rounded" >
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 wow zoomIn" data-wow-delay="0.9s">
                <div
                    class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fas fa-medal text-white"></i>
                    </div>
                    <h4 class="mb-3">3.Xác Nhận</h4>
                    <p class="m-0">Xác nhận yêu cầu, hợp đồng thử nghiệm</p>
                    <a class="btn btn-lg btn-primary rounded" >
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 wow zoomIn" data-wow-delay="1.2s">
                <div
                    class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fas fa-chart-line text-white"></i>
                    </div>
                    <h4 class="mb-3">4.Kiểm Tra</h4>
                    <p class="m-0">Phòng thử nghiệm tiến hàng kiểm tra</p>
                    <a class="btn btn-lg btn-primary rounded" >
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 wow zoomIn" data-wow-delay="0.3s">
                <div
                    class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-search text-white"></i>
                    </div>
                    <h4 class="mb-3">5.Phân Tích</h4>
                    <p class="m-0">Phòng thử nghiệm tiến hành phân tích</p>
                    <a class="btn btn-lg btn-primary rounded" >
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 wow zoomIn" data-wow-delay="0.6s">
                <div
                    class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fas fa-diagnoses text-white"></i>
                    </div>
                    <h4 class="mb-3">6.Thẩm Tra</h4>
                    <p class="m-0">Phòng thử nghiệm tiến hành thẩm tra kết quả</p>
                    <a class="btn btn-lg btn-primary rounded" >
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 wow zoomIn" data-wow-delay="0.9s">
                <div
                    class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fas fa-file-alt text-white"></i>
                    </div>
                    <h4 class="mb-3">7.Báo Cáo</h4>
                    <p class="m-0">Báo cáo kết quả thử nghiệm</p>
                    <a class="btn btn-lg btn-primary rounded" >
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 wow zoomIn" data-wow-delay="0.12s">
                <div
                    class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fas fa-tasks text-white"></i>
                    </div>
                    <h4 class="mb-3">8.Phê Duyệt</h4>
                    <p class="m-0">Tiến hành xem xét và phê duyệt</p>
                    <a class="btn btn-lg btn-primary rounded" >
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 wow zoomIn" data-wow-delay="0.3s">
                <div
                    class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fas fa-retweet text-white"></i>
                    </div>
                    <h4 class="mb-3">9.Trả Kết Qủa</h4>
                    <p class="m-0">Trả kết quả thử nghiệm cho khách hàng</p>
                    <a class="btn btn-lg btn-primary rounded" >
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 wow zoomIn" data-wow-delay="0.6s">
                <div
                    class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fas fa-headset text-white"></i>
                    </div>
                    <h4 class="mb-3">10.Nhận Phản Hồi</h4>
                    <p class="m-0">Lắng nghe những đóng góp từ khách hàng</p>
                    <a class="btn btn-lg btn-primary rounded" >
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 wow zoomIn" data-wow-delay="0.9s">
                <div
                    class="position-relative bg-primary rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-5">
                    <h3 class="text-white mb-3">Liên Hệ </h3>
                 
                    <h5 class="text-white mb-0">0839 882 883</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->


<!-- Testimonial Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-4 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Dịch Vụ Chứng Nhận</h5>
            <h1 class="mb-0">What Our Clients Say About Our Digital Services</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.6s">
            {{#each showlogo}}
            <a href="/bai-viet/{{this.slug}}">
                <div class="testimonial-item bg-light my-4">
                    <div class="d-flex align-items-center border-bottom pt-5 pb-4 px-5">
                        <img class="img-fluid rounded" src="/{{this.image}}"
                            style="width: 60px; height: 60px;object-fit:cover ">
                        <div class="ps-4">
                            <h4 class="text-primary mb-1">{{this.title}}</h4>

                        </div>
                    </div>
                    <div class="pt-4 pb-5 px-5">
                        {{{truncateDescription this.content}}}
                    </div>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
</div>
<!-- Testimonial End -->
{{> footer}}
<!-- Brand End -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>