{{> headerAdmin}}
{{> sidebar}}
<link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css">
<main id="main" class="main">
    <section class="section dashboard">

        <div class="card">
            {{#each baiviet}}
            <div class="card-body" style="margin-top:40px;">
                <a href="/admin/bai-viet"> <i class="bi bi-arrow-left-circle-fill" style="font-size: 18px;"></i></a>
                <h3>Chỉnh sửa bài viết</h3>
                <div class="row">
                    <div class="col-md-8">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label for="recipient-name" class="col-form-label">Tiêu đề<span
                                            style="color: red;">*</span></label>
                                    <input type="text" class="form-control" id="title" name="title"
                                        value="{{this.title}}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label for="recipient-name" class="col-form-label">Ngày tạo<span
                                            style="color: red;">*</span></label><br>
                                    <input type="date" class="form-control" id="createdAt" name="createdAt"
                                        value="{{{formatDate this.createdAt}}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label for="recipient-name" class="col-form-label">Chọn thể loại<span
                                            style="color: red;">*</span></label><br>
                                    <select class="form-select" id="category">
                                        {{#each ../categories}}
                                        <option value="{{this._id}}" {{#ifCond this._id ../this.categoryId }} selected
                                            {{/ifCond}}>
                                            {{this.nameCategory}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <span style="color:red;font-size: 12px;   font-style: italic;">Đối với thể loại
                                    là
                                    dịch
                                    vụ</span>
                                <br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <label class="form-check-label" for="mySwitch">Hiển thị lên menu
                                            </label>
                                            <div class="form-check form-switch">
                                                {{#ifCond this.isMenu 1}}
                                                <input class="form-check-input" type="checkbox" id="showmenu"
                                                    name="darkmode" checked>
                                                {{else}}
                                                <input class="form-check-input" type="checkbox" id="showmenu"
                                                    name="darkmode">
                                                {{/ifCond}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group ">
                                            <label class="form-check-label" for="mySwitch">Hiển thị danh sách
                                            </label>
                                            <div class="form-check form-switch">
                                                {{#ifCond this.isLogo 1}}
                                                <input class="form-check-input" type="checkbox" id="showlogo"
                                                    name="darkmode" checked>
                                                {{else}}
                                                <input class="form-check-input" type="checkbox" id="showlogo"
                                                    name="darkmode">
                                                {{/ifCond}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"> <!-- Trường nhập file ẩn -->
                        <input type="file" id="image" style="display: none;" name="image" accept="image/*">
                        <!-- Ảnh sẽ được hiển thị và click vào đây sẽ mở trình duyệt file dialog -->
                        <div class="row d-flex text-center">
                            <div class="col-12">
                                <img id="imagePreview" src="/{{this.image}}" UrlImage="{{this.image}}" alt="Preview"
                                    style="max-width:200px;max-height:200px;object-fit: cover;">
                            </div>
                            <div class="col-12">
                                <label class="form-check-label" for="mySwitch">Chọn hình ảnh <span
                                        style="color: red;">*</span></label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="add-event-form">
                    <input type="hidden" id="content" value="{{this.content}}">
                    <br>

                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Nội dung:</label>
                        <div id="editor" style="min-height: 600px;"></div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary" onclick="onclickEdit()" style="float: right;">Lưu
                        Lại</button>

                </div>
                <div id="getcontent" style="display: none;" getid="{{this._id}}"></div>
            </div>
            {{/each}}
        </div>

    </section>
</main><!-- End #main -->

{{> footerAdmin}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.8.2/tinymce.min.js"> </script>
<script src="/js/tinymce.js"></script>
<script>

    var img = document.getElementById('image')
    var imagePreview = document.getElementById('imagePreview')
    //get url image
    var UrlImage = imagePreview.getAttribute('UrlImage')

    //lấy nội dung
    const getcontent = document.getElementById('getcontent')
    const content = document.getElementById('content').value
    getcontent.innerHTML = content
    var contentWithHTML = document.getElementById('getcontent').innerHTML;
    //getid
    const getid = getcontent.getAttribute('getid')
    //Edit content
    tinymceFuntions(contentWithHTML)

    // Khi click vào ảnh, chuyển sự kiện click đến trường nhập file
    imagePreview.addEventListener('click', function () {
        img.click();

    });
    // change ảnh khi chọn
    img.addEventListener('change', function () {
        if (img.files && img.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                imagePreview.src = e.target.result;
            };
            reader.readAsDataURL(img.files[0]);
        }
    });
    //click edit
    function onclickEdit() {
        var tinymceHtmlContent = tinymce.get('editor').getContent()
        var title = document.getElementById('title').value
        var category = document.getElementById('category').value
        var showlogo = document.getElementById('showlogo').checked
        var showmenu = document.getElementById('showmenu').checked
        var createdAt = document.getElementById('createdAt').value

        const file = img.files[0]
        //if you selected file

        if (title && category && createdAt) {
            const formData = new FormData();
            formData.append('image', file);
            formData.append('id', getid);
            formData.append('title', title);
            formData.append('category', category);
            formData.append('editor', tinymceHtmlContent);
            formData.append('showlogo', showlogo);
            formData.append('showmenu', showmenu);
            formData.append('createdAt', createdAt);
            formData.append('UrlImage', UrlImage);
            fetch(`/admin/bai-viet/${getid}`, {
                method: 'PUT',
                body: formData,
            })
                .then(() => {
                    window.location.replace('/admin/bai-viet')

                })
        }


    }
</script>