<link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css">
{{> headerAdmin}}
{{> sidebar}}
<form name="container-form" method="POST" action="/admin/bai-viet/handle-form-actions">
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Bài Viết</h1><br>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="@mdo">Thêm Mới</button>


            <div class="select-all d-flex mt-4 ">
                <div class="checkbox">
                    <label><input type="checkbox" value="" id="checkbox-all"> Chọn tất cả</label>
                </div>
                <div class="form-group w-25 mx-5">
                    <select class="form-control" style="text-align: center;" name="action" required>
                        <option value="">---Hành động---</option>
                        <option value="delete">--Xóa--</option>
                    </select>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary mx-5 btn-check-all-submit " disabled>Thực hiện</button>
                </div>
                <span class="mr-5"><a href="/admin/bai-viet/trash" style="color:red ;font-size:24px"><strong> <i
                                class="far fa-trash-alt "></i> Thùng rác</strong></a></span>
            </div>
        </div><!-- End Page Title -->

        <section class="section dashboard mt-5 d-flex justify-content-center align-items-center">
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">STT</th>
                        <th scope="col">Tiêu đề</th>
                        <th scope="col">Thể loại</th>
                        <th> Ngày tạo</th>
                        <th scope="col">Hình ảnh</th>
                        <th scope="col">Nội dung</th>
                        <th colspan="2">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each baiviet}}
                    <tr>
                        <th>
                            <div class="checkbox">
                                <label><input type="checkbox" name="baivietIds" value="{{this._id}}"></label>
                            </div>
                        </th>
                        <th scope="row">{{sum @index 1}}</th>
                        <td>{{this.title}}</td>
                        <td>{{this.category}}</td>
                        <td>{{ this.createdAt}}</td>
                        <td><img src="/{{this.image}}" style="width:150px"></td>
                        <td> </a><button type="button" class="btn btn-success"><a href="/bai-viet/{{this.slug}}"
                                    style="color: aliceblue;">Xem chi
                                    tiết</a></button></td>
                        <td> <a href="/admin/bai-viet/{{this._id}}/edit"><i class="far fa-edit size-icon-edit"></i></a>
                        </td>
                        <td> <a> <i class="far fa-trash-alt size-icon-delete" data-bs-toggle="modal"
                                    data-bs-target="#delete-work-modal" data-id="{{this._id}}"></i></a>
                        </td>
                    </tr>
                    {{else}}
                    <tr>
                        <td colspan="9" class="text-center">
                            Không tìm thấy từ khóa nào !
                        </td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
        </section>
        <div class="col-lg-12 center">
            <div class="">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {{#if pagination.prev}}
                        <li class="page-item">
                            <a class="page-link" onclick="changePage({{pagination.prev}})" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {{/if}}
                        {{#each pagination.pages as |page|}}
                        {{#if page.active}}
                        <li class="page-item active">
                            <a class="page-link" onclick="changePage({{this.number}})">{{this.number}}</a>
                        </li>
                        {{else if page.isDots }}

                        {{else}}
                        <li class="page-item ">
                            <a class="page-link" onclick="changePage({{this.number}})">{{this.number}}</a>
                        </li>
                        {{/if}}
                        {{/each}}

                        {{#if pagination.next}}
                        <li class="page-item">
                            <a class="page-link" onclick="changePage({{pagination.next}})" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {{/if}}
                    </ul>
                </nav>
            </div>
        </div>
    </main>
</form>
{{> footerAdmin}}

{{!-- modal thêm --}}

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm bài viết</h5>
               
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Tiêu đề:</label>
                                <input type="text" class="form-control" id="title" name="title">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Chọn thể loại:</label><br>
                                <select class="form-select" id="category" aria-label="Default select example">
                                    <option value="Giới thiệu">Giới thiệu</option>
                                    <option value="Dịch vụ">Dịch vụ</option>
                                    <option value="Tin tức">Tin Tức</option>
                                </select>
                            </div>

                            <div class="row mt-2">
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label for="recipient-name" class="col-form-label">Hiển thị tên ra
                                            menu:</label><br>
                                        <select class="form-select" id="showmenu" aria-label="Default select example">
                                            <option value="khong">Không hiển thị</option>
                                            <option value="co">Có hiển thị</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group ">
                                        <label for="recipient-name" class="col-form-label">Hiển thị logo:</label><br>
                                        <select class="form-select" id="showlogo" aria-label="Default select example">
                                            <option value="khong">Không hiển thị</option>
                                            <option value="co">Có hiển thị</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label for="recipient-name" class="col-form-label">Ngày tạo:</label><br>
                                <input type="date" class="form-control" id="createdAt" name="createdAt">
                            </div>
                        </div>
                        <div class="col-md-6"> <!-- Trường nhập file ẩn -->
                            <input type="file" id="image" style="display: none;" name="image" accept="image/*">
                            <label for="fileInput">Click chọn ảnh:
                                <!-- Ảnh sẽ được hiển thị và click vào đây sẽ mở trình duyệt file dialog -->
                                <img id="imagePreview" src="/img/slider-3.jpg" alt="Preview">
                            </label>

                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Nội dung:</label>
                        <div id="editor" style="min-height: 300px;"></div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Thoát</button>
                    <button class="btn btn-primary" onclick="onclickBaiViet()">Thêm mới</button>

                </div>

            </div>
        </div>
    </div>
</div>

{{!-- modal xóa --}}
<div id="delete-work-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa Bài Viết </h5>
                {{!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                --}}
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa bài viết này không ?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete" type="button" class="btn btn-danger">Đồng ý xóa</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>

            </div>
        </div>
    </div>
</div>
{{!-- form delete --}}
<form name="delete-form" method="POST"></form>

<script src="/js/checkbox.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.8.2/tinymce.min.js"> </script>
<script src="/js/tinymce.js"></script>
<script>
    function changePage(page) {
        const searchTerm = document.getElementById('paginationForm').search.value = '{{searchTerm}}';
        window.location.href = `/admin/bai-viet?page=${page}&search=${searchTerm}`;
    } 
</script>
<script>
    tinymceAdd()
    var img = document.getElementById('image')
    var imagePreview = document.getElementById('imagePreview')
    // Khi click vào ảnh, chuyển sự kiện click đến trường nhập file
    imagePreview.addEventListener('click', function () {
        img.click();
    });
    // change ảnh khi chọn
    img.addEventListener('change', function () {
        if (img.files && img.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                imagePreview.src = e.target.result;
            };
            reader.readAsDataURL(img.files[0]);
        }
    });
    // thêm bài viết
    function onclickBaiViet() {
        var tinymceHtmlContent = tinymce.get('editor').getContent()

        var title = document.getElementById('title').value
        var category = document.getElementById('category').value
        var showmenu = document.getElementById('showmenu').value
        var showlogo = document.getElementById('showlogo').value
        var createdAt = document.getElementById('createdAt').value
        const file = img.files[0]
        if (file && title && category && createdAt) {
            const formData = new FormData();
            formData.append('image', file);
            formData.append('title', title);
            formData.append('showmenu', showmenu);
            formData.append('showlogo', showlogo);
            formData.append('category', category);
            formData.append('createdAt', createdAt);
            formData.append('editor', tinymceHtmlContent);
            fetch('/admin/bai-viet/creat', {
                method: 'POST',
                body: formData,
            }).then(() => {
                window.location.replace('/admin/bai-viet')
            })
        }
    }
    // delete 
    const exampleModal = document.getElementById('delete-work-modal')
    exampleModal.addEventListener('show.bs.modal', event => {
        var deleteForm = document.forms['delete-form']
        var btnDeleteCalendar = document.getElementById('btn-delete')
        const button = event.relatedTarget
        //get id from button delete
        const recipient = button.getAttribute('data-id')

        btnDeleteCalendar.onclick = function () {
            deleteForm.action = '/admin/bai-viet/' + recipient + '?_method=DELETE'
            deleteForm.submit()
        }
    })


</script>